.Footer
{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    color:darkblue;
    background-image: linear-gradient(white,grey);
    height: 25vh;
    justify-content: center;
}


